/*
font-family: 'Nosifer', cursive;
font-family: 'Bangers', cursive;
font-family: 'Creepster', cursive;
*/

body {
	background-color: black;
	font-family: 'Bangers', cursive;
	font-size: 2.1em;
}

h1, h2 {
	font-family: 'Creepster', cursive;
}

h2 {
	font-size: 2em;
}

.jumbotron h1 {
	font-size: 3em;
}

.well, .jumbotron {
	background-color: orange;
	border-color: black;
}

.btn {
	font-size: 1.5em;
}